---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Índice">
    <div>
        ¡Bienvenido al índice de temas!
        <ul>
            <li><a><a href="/posts/function-roots">Raíces de funciones</a></a></li>
        </ul>
    </div>
</Layout>