---
import MathChart from "../components/FunctionRoots/MathChartRoots";
import MathField from "../components/MathField.astro";
import Layout from "../layouts/Layout.astro";
import FormRoots from "../components/FunctionRoots/FormRoots";
import "../styles/global.css";
---

<Layout title="Calculadora de raíces">
  <div class="page-container">
    <div>
      <p>
        Introduzca la ecuación sin usar carácteres especiales. Represente
        siempre a la incógnita con la letra "x". Si su ecuación es x<sup>2</sup
        >-1=0, introduzca solo la parte izquierda de la ecuación: x<sup>2</sup
        >-1. No introduzca signos de igualdad. Puede apretar el signo del
        teclado para abrir un teclado virtual e introducir expresiones
        trigonométricas, logarítmicas, fracciones, inversas, valores absolutos o
        las constantes "pi" y "e", pero no intente introducir derivadas,
        integrales, límites, expresiones lógicas u otros símbolos.
        <br />
        <br />
        Rellene los campos necesarios según el método que elija para resolver la
        ecuación. Si la calculadora consigue resolver el método en un solo paso,
        no se graficará nada. Solo se le dará la tabla con la aproximación calculada.
        <br />
        <br />
        En los campos que se rellenan sin el teclado virtual, los números decimales
        se escriben con el punto decimal, por ejemplo: "2.5"; si no funciona, intente
        hacerlo con una coma en vez de un punto: "2,5". No escriba fracciones del
        tipo "1/2", paselas a formato decimal: "0.5".
      </p>
    </div>
    <div id="math-field-container">
      <h1>Ingrese la ecuación</h1>
      <MathField />
    </div>
    <div id="options">
      <h1>Escoja el método para calcular la raíz</h1>
      <select id="function-roots-method">
        <option value="bisection"> Bisección </option>
        <option value="regula-falsi"> Regula Falsi </option>
        <option value="secant"> Secante </option>
        <option value="newton-raphson"> Newton-Raphson </option>
        <option value="fixed-point"> Punto Fijo </option>
      </select>
      <br>
      <div id="chart">
        <FormRoots client:only />
        <MathChart client:load />
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  #math-field {
    width: 90vw;
    min-height: 50px;
    border: 1px solid #000;
    padding: 5px;
    box-sizing: border-box;
    overflow: auto;
  }
  #math-field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #math-field-container h1 {
    font-weight: bold;
    margin-bottom: 6px;
  }
  #options {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #options h1 {
    font-weight: bold;
    margin-bottom: 6px;
  }
  #options select {
    border: 0.2px solid black;
    text-align: center;
  }
</style>
