---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header class="header">
  <div class="app-mark">
    <span class="app-mark-text"><a href="/">GraphMathika</a></span>
  </div>
  <Hamburger />
</header>
<div id="navbar">
  <Navigation />
</div>

<style>
  .header {
    display: flex;
    background-color: grey;
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 10px;
    align-items: center;
    z-index: 900;
  }
  .app-mark {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2px;
  }
  #navbar {
    display: none;
  }
</style>
