---
import Navigation from "./Navigation.astro";
---

<header class="header">
  <div>
    <span> Numerika Calculator </span>
  </div>
  <div class="navbar">
    <Navigation />
  </div>
</header>

<style>
  .header {
    display: flex;
  }
  .navbar {
    position: relative;
    left: 10%;
  }
</style>
